#########################################################################
# MRTG configuration for Bitaxe miners
# Uses scalable bitaxe-mrtg.sh script with -d <IP> and -m <metric>
# Each graph can contain 1 or 2 metrics; missing second metric defaults to 0
#########################################################################

# Directory where MRTG stores its RRDs and generated HTML
WorkDir: /root/bitaxe/mrtg
#RunAsDaemon: Yes
#Interval:    5
# Set language and options
Language: english

# ------------------------
# Miner 1 (IP 192.168.68.111)
# ------------------------

# Voltage & Current
Target[miner1_voltage_current]: `${BITAXE_SCRIPT} -d 192.168.68.111 -m voltage -m corevoltage`
MaxBytes[miner1_voltage_current]: 20000
Title[miner1_voltage_current]: Miner 1 Voltage
PageTop[miner1_voltage_current]: <h1>Miner 1 Input and Core Voltage</h1>
Options[miner1_voltage_current]: gauge, growright, nopercent
YLegend[miner1_voltage_current]: Voltage 
ShortLegend[miner1_voltage_current]: mV
Legend1[miner1_voltage_current]: Input Voltage
Legend2[miner1_voltage_current]: ASIC Voltage
LegendI[miner1_voltage_current]: Input
LegendO[miner1_voltage_current]: ASIC

# ASIC Temp & VRM Temp
Target[miner1_temp_vrm]: `${BITAXE_SCRIPT} -d 192.168.68.111 -m temp -m vrTemp`
MaxBytes[miner1_temp_vrm]: 100
Title[miner1_temp_vrm]: Miner 1 ASIC & VRM Temp
PageTop[miner1_temp_vrm]: <h1>Miner 1 ASIC and VRM Temperature</h1>
Options[miner1_temp_vrm]: gauge, growright, nopercent
YLegend[miner1_temp_vrm]: Temperature
ShortLegend[miner1_temp_vrm]: °C
Legend1[miner1_temp_vrm]: ASIC Temp
Legend2[miner1_temp_vrm]: VRM Temp
LegendI[miner1_temp_vrm]: ASIC
LegendO[miner1_temp_vrm]: VRM

# Hashrate Current & 1-min Avg
Target[miner1_hash_1m]: `${BITAXE_SCRIPT} -d 192.168.68.111 -m hashrate -m hash_1m`
MaxBytes[miner1_hash_1m]: 5000
Title[miner1_hash_1m]: Miner 1 Hashrate 
PageTop[miner1_hash_1m]: <h1>Miner 1 Hash Rate</h1>
Options[miner1_hash_1m]: gauge, growright, nopercent
YLegend[miner1_hash_1m]: Hash Rate
ShortLegend[miner1_hash_1m]: GH/s
Legend1[miner1_hash_1m]: Hash Rate
Legend2[miner1_hash_1m]: None
LegendI[miner1_hash_1m]: Hash Rate
LegendO[miner1_hash_1m]: 

## Hashrate 10-min & 1-hour Avg
#Target[miner1_hash_10m_1h]: `${BITAXE_SCRIPT} -d 192.168.68.111 -m hash_10m -m hash_1h`
#MaxBytes[miner1_hash_10m_1h]: 5000
#Title[miner1_hash_10m_1h]: Miner 1 Hashrate 10-min & 1-hour Avg
#Options[miner1_hash_10m_1h]: gauge, growright, nopercent
#YLegend[miner1_hash_10m_1h]: GH/s
#
## Power & Core Voltage
#Target[miner1_power_corevoltage]: `${BITAXE_SCRIPT} -d 192.168.68.111 -m power -m corevoltage`
#MaxBytes[miner1_power_corevoltage]: 2000
#Title[miner1_power_corevoltage]: Miner 1 Power & Core Voltage
#Options[miner1_power_corevoltage]: gauge, growright, nopercent
#YLegend[miner1_power_corevoltage]: W & mV
#
## Error Percentage & Pool Difficulty
#Target[miner1_error_pool]: `${BITAXE_SCRIPT} -d 192.168.68.111 -m errorperc -m pooldiff`
#MaxBytes[miner1_error_pool]: 2000
#Title[miner1_error_pool]: Miner 1 Error % & Pool Difficulty
#Options[miner1_error_pool]: gauge, growright, nopercent
#YLegend[miner1_error_pool]: % & Difficulty
#
## Uptime only (second metric 0)
#Target[miner1_uptime]: `${BITAXE_SCRIPT} -d 192.168.68.111 -m uptime`
#MaxBytes[miner1_uptime]: 100000
#Title[miner1_uptime]: Miner 1 Uptime
#Options[miner1_uptime]: gauge, growright, nopercent
#YLegend[miner1_uptime]: Hours

#########################################################################
# Add additional miners by copying and changing the IP and target names
#########################################################################
