#########################################################################
# MRTG configuration for Bitaxe miners
# Uses scalable bitaxe-mrtg.sh script with -d <IP> and -m <metric>
# Each graph can contain 1 or 2 metrics; missing second metric defaults to 0
#########################################################################

# Directory where MRTG stores its RRDs and generated HTML
WorkDir: /root/bitaxe/mrtg
#RunAsDaemon: Yes
#Interval:    5
# Set language and options
Language: english

# ------------------------
# Miner 1 (IP 192.168.68.111)
# ------------------------

# Voltage & Current
Target[miner1_voltage_current]: `${BITAXE_SCRIPT} -d 192.168.68.111 -m voltage -m corevoltage`
MaxBytes[miner1_voltage_current]: 20000
Title[miner1_voltage_current]: Miner 1 Voltage
PageTop[miner1_voltage_current]: <h1>Miner 1 Input and Core Voltage</h1>
Options[miner1_voltage_current]: gauge, growright, nopercent
YLegend[miner1_voltage_current]: Voltage 
ShortLegend[miner1_voltage_current]: mV
Legend1[miner1_voltage_current]: Input Voltage
Legend2[miner1_voltage_current]: ASIC Voltage
LegendI[miner1_voltage_current]: Input
LegendO[miner1_voltage_current]: ASIC

# ASIC Temp & VRM Temp
Target[miner1_temp_vrm]: `${BITAXE_SCRIPT} -d 192.168.68.111 -m temp -m vrTemp`
MaxBytes[miner1_temp_vrm]: 100
Title[miner1_temp_vrm]: Miner 1 ASIC & VRM Temp
PageTop[miner1_temp_vrm]: <h1>Miner 1 ASIC and VRM Temperature</h1>
Options[miner1_temp_vrm]: gauge, growright, nopercent
YLegend[miner1_temp_vrm]: Temperature
ShortLegend[miner1_temp_vrm]: °C
Legend1[miner1_temp_vrm]: ASIC Temp
Legend2[miner1_temp_vrm]: VRM Temp
LegendI[miner1_temp_vrm]: ASIC
LegendO[miner1_temp_vrm]: VRM

# Hashrate Current Avg
Target[miner1_hash_1m]: `${BITAXE_SCRIPT} -d 192.168.68.111 -m hashrate`
MaxBytes[miner1_hash_1m]: 5000
Title[miner1_hash_1m]: Miner 1 Hashrate 
PageTop[miner1_hash_1m]: <h1>Miner 1 Hash Rate</h1>
Options[miner1_hash_1m]: gauge, growright, nopercent
YLegend[miner1_hash_1m]: Hash Rate
ShortLegend[miner1_hash_1m]: GH/s
Legend1[miner1_hash_1m]: Hash Rate
Legend2[miner1_hash_1m]: None
LegendI[miner1_hash_1m]: Hash Rate
LegendO[miner1_hash_1m]: 

# Power Consumption
Target[miner1_power]: `${BITAXE_SCRIPT} -d 192.168.68.111 -m power`
MaxBytes[miner1_power]: 2000
Title[miner1_power]: Miner 1 Power
PageTop[miner1_power]: <h1>Miner 1 Power</h1>
Options[miner1_power]: gauge, growright, nopercent
YLegend[miner1_power]: Power
ShortLegend[miner1_power]: W
Legend1[miner1_power]: Watts
Legend2[miner1_power]: None
LegendI[miner1_power]: Power
LegendO[miner1_power]:

# Error Percentage
Target[miner1_error]: `${BITAXE_SCRIPT} -d 192.168.68.111 -m errorperc`
MaxBytes[miner1_error]: 100
Title[miner1_error]: Miner 1 Error Rate
PageTop[miner1_error]: <h1>Miner 1 Error Rate</h1>
Options[miner1_error]: gauge, growright, nopercent
YLegend[miner1_error]: Miner Error
ShortLegend[miner1_error]: %
Legend1[miner1_error]: Error
Legend2[miner1_error]: None
LegendI[miner1_error]: Error %
LegendO[miner1_error]: 

# Pool Difficulty
Target[miner1_diff]: `${BITAXE_SCRIPT} -d 192.168.68.111 -m pooldiff`
MaxBytes[miner1_diff]: 2000
Title[miner1_diff]: Miner 1 Pool Difficulty
PageTop[miner1_diff]: <h1>Miner 1 Pool Difficulty</h1>
Options[miner1_diff]: gauge, growright, nopercent
YLegend[miner1_diff]: Difficulty
ShortLegend[miner1_diff]: d
Legend1[miner1_diff]: diff
Legend2[miner1_diff]: None
LegendI[miner1_diff]: Dificulty
LegendO[miner1_diff]:

# Uptime only (second metric 0)
Target[miner1_uptime]: `${BITAXE_SCRIPT} -d 192.168.68.111 -m uptime`
MaxBytes[miner1_uptime]: 100000
Title[miner1_uptime]: Miner 1 Uptime
PageTop[miner1_uptime]: <h1>Miner 1 Uptime</h1>
Options[miner1_uptime]: gauge, growright, nopercent
YLegend[miner1_uptime]: Uptime Hours
ShortLegend[miner1_uptime]: h
Legend1[miner1_uptime]: Uptime
Legend2[miner1_uptime]: None
LegendI[miner1_uptime]: Uptime Hours
LegendO[miner1_uptime]:

#########################################################################
# Add additional miners by copying and changing the IP and target names
#########################################################################
