#########################################################################
# MRTG configuration for Bitaxe miners
# Uses scalable bitaxe-mrtg.sh script with -d <IP> and -m <metric>
# Each graph can contain 1 or 2 metrics; missing second metric defaults to 0
#########################################################################

# Directory where MRTG stores its RRDs and generated HTML
WorkDir: /root/bitaxe/mrtg
RunAsDaemon: Yes
Interval:    5
# Set language and options
Language: english
Include: /root/bitaxe/miners/*.cfg

#########################################################################
# Add miners by creating config files on "miners" directory 
#########################################################################
